@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  color: white;
  z-index: 99;
  position: absolute;
  width: 80%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 80%;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: none;
    grid-column: 4 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 4 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 4 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1.5;
  }

  .left {
    grid-column: 6 / 12;
  }


  .scroll-down {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll-down 1s ease-in-out infinite alternate;
    
  }

  @keyframes scroll-down {
    from {
      transform: translate(-50%, 0);
    }
    to {
      transform: translate(-50%, 10px);
    }
  }

  .hide-scroll-down {
    display: none;
  }


  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .hide-loading-screen {
    display: none !important;
  }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }