@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.90);
  --spacing: 280px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  color: white;
  z-index: 99;
  position: absolute;
  width: 80%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 80%;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: none;
    grid-column: 4 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 3 / 8;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--dark-bg);
    font-size: 1.4rem;
    line-height: 1.7;
    margin-bottom: var(--spacing);
    border-radius: 8px;
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 4 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1.5;
  }

  .left {
    grid-column: 6 / 12;
  }


  .scroll-down {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll-down 1s ease-in-out infinite alternate;
    
  }

  @keyframes scroll-down {
    from {
      transform: translate(-50%, 0);
    }
    to {
      transform: translate(-50%, 10px);
    }
  }

  .hide-scroll-down {
    display: none;
  }


  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .hide-loading-screen {
    display: none !important;
  }

  .cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 120px; 
    color: white;
    background-color: rgb(26, 25, 25);
    z-index: 9999;
  }

  .popover {
    position: relative;
    display: inline-block;
  }
  
  .popover-content {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translateX(-50%);
    background-color: var(--dark-bg);
    padding: 10px;
    width: 600%;
  }
  
  .popover-content::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
   
  }

  @media screen and (max-width: 1150px) {
    .cover {
      display: block;
    }
  }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }